<!-- begin::Header -->

<div class="card-header border-0 pt-5">
  <h3 class="card-title align-items-start flex-column">
    <span class="card-label fw-bolder fs-3 mb-1">{{ title }}</span>
    <span class="text-muted mt-1 fw-bold fs-7" *ngIf="useSubTitle"
      >Over 500 members</span
    >
  </h3>
  <div
    class="card-toolbar"
    data-bs-toggle="tooltip"
    data-bs-placement="top"
    data-bs-trigger="hover"
    title="Click to add"
    *ngIf="useButtonAdd"
  >
    <a href="#" class="btn btn-sm btn-light-primary">
      <app-keenicon name="plus" class="fs-3"></app-keenicon>
      New
    </a>
  </div>
</div>
<!-- end::Header -->
<!-- start filter -->
<div class="card-header border-0 pt-5" *ngIf="useFilter">
  <div class="row mb-6">
    <div class="col">
      <div class="row">
        <div class="col-lg-12 fv-row">
          <input
            type="text"
            class="
              form-control form-control-lg form-control-solid
              mb-3 mb-lg-0
            "
            placeholder="Search"
            name="search"
            value=""

          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end filter -->
<!-- begin::Body -->
<div class="card-body py-3">
  <!-- begin::Table container -->
  <div class="table-responsive">
    <!-- begin::Table -->
    <table
      class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4"
    >
      <!-- begin::Table head -->
      <thead>
        <tr class="fw-bolder text-muted">
          <th class="w-25px">
            No
          </th>
          <th class="min-w-150px" sortable="name" style="cursor: pointer;" (sort)="onSort($event)">User</th>
          <th class="min-w-140px">Company</th>
          <th class="min-w-120px">Email</th>
          <th class="min-w-100px text-end">Actions</th>
        </tr>
      </thead>
      <!-- end::Table head -->
      <!-- begin::Table body -->
      <tbody>
        <tr *ngFor="let data of dataSource; let i = index">
          <td>
            <div
              class="form-check form-check-sm form-check-custom form-check-solid"
            >
              {{ i + 1 }}
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <div class="symbol symbol-45px me-5">
                <img src="{{ data.image }}" alt="" />
              </div>
              <div class="d-flex justify-content-start flex-column">
                <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">
                  {{ data.name }}
                </a>
                <!-- <span class="text-muted fw-bold text-muted d-block fs-7">
                  HTML, JS, ReactJS
                </span> -->
              </div>
            </div>
          </td>
          <td>
            <a
              href="#"
              class="text-dark fw-bolder text-hover-primary d-block fs-6"
            >
              {{ data.company }}
            </a>
            <span class="text-muted fw-bold text-muted d-block fs-7">
              {{ data.role }}
            </span>
          </td>
          <td class="text-end">
            <div class="d-flex flex-column w-100 me-2">
              <div class="d-flex flex-stack mb-2">
                <span class="text-muted me-2 fs-7 fw-bold">{{ data.email }}</span>
              </div>
            </div>
          </td>
          <td>
            <div class="d-flex justify-content-end flex-shrink-0">
              <a
                href="#"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
                title="Change user access"
                *ngIf="canEdit(data)"
              >
                <app-keenicon name="switch" class="fs-3"></app-keenicon>
              </a>
              <a
                href="#"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
                title="Edit User"
                *ngIf="canEdit(data)"
              >
                <app-keenicon name="pencil" class="fs-3"></app-keenicon>
              </a>
              <a
                href="#"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
                title="Delete User"
                *ngIf="canEdit(data)"
              >
                <app-keenicon name="trash" class="fs-3"></app-keenicon>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
      <!-- end::Table body -->
    </table>
    <!-- end::Table -->
    <div class="d-flex justify-content-between p-2 bt-dashed">
      <ngb-pagination
        [collectionSize]="collectionSize"
        [(page)]="page"
        [pageSize]="pageSize"
        (pageChange)="refreshData()"
      >
      </ngb-pagination>
    </div>
  </div>
  <!-- end::Table container -->
</div>
<!-- begin::Body -->
