<!-- begin::Header -->

<div class="card-header border-0 pt-5">
  <h3 class="card-title align-items-start flex-column">
    <span class="card-label fw-bolder fs-3 mb-1">{{ title }}</span>
    <span class="text-muted mt-1 fw-bold fs-7" *ngIf="useSubTitle"
      >Over 500 members</span
    >
  </h3>
  <div
    class="card-toolbar"
    data-bs-toggle="tooltip"
    data-bs-placement="top"
    data-bs-trigger="hover"
    title="Click to add"
    *ngIf="useButtonAdd"
  >
    <a href="#" class="btn btn-sm btn-light-primary">
      <app-keenicon name="plus" class="fs-3"></app-keenicon>
      New
    </a>
  </div>
</div>
<!-- end::Header -->
<!-- start filter -->
<div class="card-header border-0 pt-5" *ngIf="useFilter">
  <div class="row mb-6">
    <div class="col">
      <div class="row">
        <div class="col-lg-12 fv-row">
          <input
            type="text"
            class="
              form-control form-control-lg form-control-solid
              mb-3 mb-lg-0
            "
            placeholder="Search"
            name="search"
            value=""

          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end filter -->
<!-- begin::Body -->
<div class="card-body py-3">
  <!-- begin::Table container -->
  <div class="table-responsive">
    <!-- begin::Table -->
    <table
      class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4"
    >
      <!-- begin::Table head -->
      <thead>
        <tr class="fw-bolder text-muted">
          <th class="w-25px">
            Image
          </th>
          <th class="min-w-100px">Item ID</th>
          <th class="min-w-150px">Item Name</th>
          <th class="min-w-100px">ETW ID</th>
          <th class="min-w-150px">ETW Name</th>
          <th class="min-w-100px">Brand</th>
          <th class="min-w-150px">Register Date</th>
          <th class="min-w-150px">Expired Date</th>
          <th class="min-w-150px">Register ETW Date</th>
          <th class="min-w-150px">Expired ETW Date</th>
          <th class="min-w-100px">Status</th>
        </tr>
      </thead>
      <!-- end::Table head -->
      <!-- begin::Table body -->
      <tbody>
        <tr *ngFor="let data of $dataSource | async; let i = index">
          <td>
            <div class="symbol symbol-45px me-5">
              <img src="./assets/media/stock/600x400/img-26.jpg" alt="" />
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <div class="d-flex justify-content-start flex-column">
                <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">
                  {{ data.itemid }}
                </a>
              </div>
            </div>
          </td>
          <td>
            <a
              href="#"
              class="text-dark fw-bolder text-hover-primary d-block fs-6"
            >
              {{ data.itemname }}
            </a>
          </td>
          <td>
            <a
              href="#"
              class="text-dark fw-bolder text-hover-primary d-block fs-6"
            >
              {{ data.etwid }}
            </a>
          </td>
          <td>
            <a
              href="#"
              class="text-dark fw-bolder text-hover-primary d-block fs-6"
            >
              {{ data.etwname }}
            </a>
          </td>
          <td class="text-end">
            <div class="d-flex flex-column w-100 me-2">
              <div class="d-flex flex-stack mb-2">
                <span class="text-muted me-2 fs-7 fw-bold">{{ data.brand }}</span>
              </div>
            </div>
          </td>
          <td class="text-end">
            <div class="d-flex flex-column w-100 me-2">
              <div class="d-flex flex-stack mb-2">
                <span class="text-muted me-2 fs-7 fw-bold">{{ data.regdate + ' ' + data.regtime }}</span>
              </div>
            </div>
          </td>
          <td class="text-end">
            <div class="d-flex flex-column w-100 me-2">
              <div class="d-flex flex-stack mb-2">
                <span class="text-muted me-2 fs-7 fw-bold">{{ data.expdate + ' ' + data.exptime }}</span>
              </div>
            </div>
          </td>
          <td class="text-end">
            <div class="d-flex flex-column w-100 me-2">
              <div class="d-flex flex-stack mb-2">
                <span class="text-muted me-2 fs-7 fw-bold">{{ data.regdate_etw }}</span>
              </div>
            </div>
          </td>
          <td>
            <span class="badge" [ngClass]="{'badge-light-success': data.status === 'Actived', 'badge-light-danger' : data.status !== 'Actived' }">{{ data.status }}</span>
          </td>
        </tr>
      </tbody>
      <!-- end::Table body -->
    </table>
    <!-- end::Table -->
    <div class="d-flex justify-content-between p-2 bt-dashed" *ngIf="allData">
      <ngb-pagination
        [collectionSize]="allData.length"
        [(page)]="page"
        [pageSize]="pageSize"
        (pageChange)="refreshData()"
      >
      </ngb-pagination>
    </div>
  </div>
  <!-- end::Table container -->
</div>
<!-- begin::Body -->
